.description {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
    }
}

.description-list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
}

.description-list__item {
// width: 100%;
@media screen and (max-width: 767px) {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n+1) {
                margin-right: 30px;
            }
        
        &:nth-child(-n+2) {
                margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        width: calc((100% - 90px) / 4);

        &:not(:last-child) {
                margin-right: 30px;
            }
        
            &:nth-child(-n+2) {
                margin-bottom: 0;
            }
    }
}



.description-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.description-picture__icon {
    width: 70px;
    height: 70px;
}

.description-list__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    @media screen and (max-width: 767px) {
            text-align: center;
        }
}

.description-list__text {
    margin-top: 0;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}