.header {
    border-bottom: 1px solid #ECECEC;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-left: 93px;
}

.nav__item {
    margin-right: 50px;
    &:last-child {
            margin-right: 0;}
}

.adress__item {
    margin-right: 50px;
    &:last-child {
            margin-right: 0;}
}

.nav__accent,
.nav__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.nav__logo {
    color: var(--logo-color);
}

.header__adress {
    display: flex;
    margin-left: auto;
}

.header__adress .item + .item {
    margin-left: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&.current {
            color: var(--accent-color);
        }
&:hover,
&:focus {
    color: var(--accent-color);
}
&.currents::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
}
}

.adress__tel,
.adress__mail {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.adress__symbol {
    fill: currentColor;
    margin-right: 10px;
}

