.team {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--primary-background-color);
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        }
}

.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
        }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        }
    }
               

.person {
    text-align: center;
    
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
   
}

.person__item {
//    width: 100%;
    background-color: var(--title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
@media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n+1) {
            margin-right: 30px;
        }

        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);

        &:not(:last-child) {
            margin-right: 30px;
        }

        &:nth-child(-n+2) {
            margin-bottom: 0;
        }
    }

}

.team-img {
    display: block;
    max-width: 100%;
}

.person__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.person__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.person__text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.networks__list:not(:last-child) {
    margin-right: 10px;
}

.networks__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
        background-color: var(--accent-color);
        color: var(--title-color);
            }
}

.networks__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

